<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
  <style type="text/css">
    body {
      margin: 30px;
      font-family: georgia, times, serif;
      text-align: center;
      color: black;
      background: white;
    }
    h2 {
      font-size: 1em;
      color: #555;
    }
    h1 {
      font-size: 2em;
    }
    a {
      color: black;
    }
    .footer {
      font-size: 1em;
      font-style: italic;
      color: #555;
      line-height: 1.5em;
    }
  </style>


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19157246-1']);
    _gaq.push(['_setDomainName', '.rsnd.org']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div id="body">
    {{ content }}
  </div>
</body>
</html>
